.sectionAlign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.container2 {
    display: grid;
    grid-template-columns: 309px;
    grid-template-rows: 53px;
    width: 400px;
    height: 550px;
    padding: 5px;
    margin: 20px;
    border-radius: 8.5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.489);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    align-items: center;
    justify-content: center;
}

.divServicio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}