@import "../utils/variables";

/* TABLET */
@media screen and (max-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .pInfo {
    margin: 20px;
    font-size: 16px;
  }
}

/* MOBILE */

@media screen and (max-width: 678px) {
  .bodyIndex {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", cursive;
    font-size: 12px;
  }

  .h3Info {
    margin: 20px;
    font-size: 24px;
  }

  .pInfo {
    margin: 20px;
    font-size: 16px;
  }
}