@import "../utils/variables";

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $colorWhite;
  background-color: $colorSecundario;

  .newsletter {
    text-decoration: $colorWhite;
    background-color: antiquewhite;
  }
}