// Base
@import "./base/base";

//Componentes
@import "./componentes/navbar";

//Layout
@import "./layout/aside";
@import "./layout/footer";
@import "./layout/grid";
@import "./layout/header";

// Mobile
@import "./mobile/mobile";

// Pages
@import "./pages/contacto";
@import "./pages/fichaprecios";
@import "./pages/index";
@import "./pages/servicios";

// Utils
@import "./utils/variables";





/*
  .color1 {
    color: #612a3b;
  }
  
  .color2 {
    color: #803a49;
  }
  
  .color3 {
    color: #b1545f;
  }
  
  .color4 {
    color: #f77c7e;
  }
  
  .color5 {
    color: #ffb2a4;
  }
  */