@import "../utils/variables";

.navbar {
  background-color: $colorPrimario;
  text-align: center;
  background-color: $colorSecundario;
  position: end;
  z-index: 1000;

  h1 {
    a {
      color: white;
    }
  }

  .nav-item {
    a {
      color: white;
    }
  }
}